@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	user-select: none;
}
html, body {
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.main {
	max-width: 1080px;
	margin: 0 auto;
}
.main__body.none {
	display: none;
}
.main__body {
	padding: 30px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-body__text {
	margin: 0 0 10px 0;
}
.main-body__text span {
	font-size: 25px;
}
.main-body__button button {
	cursor: pointer;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	background-color: green;
	border-radius: 15px;
}
.wrapper {
	display: block;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #FFFFFF;
}
.wrapper__top {
	width: 100%;
	height: 0;
	position: relative;
	padding: 0 0 152.2569% 0;
	background: url('../img/01.png') center / cover no-repeat;
}
.wrapper-top__current-time {
	position: absolute;
	top: 3.1111%;
	transform: translate(0, -50%);
	left: 5.1111%;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: clamp(0.6590275rem, -0.0372rem + 3.481vw, 2.3125rem);
	vertical-align: center;
	color: #404040;
}
.wrapper-top__series {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color: #232323;
	font-size: clamp(0.71875rem, 0.0009rem + 3.5892vw, 2.423610625rem);
	white-space: nowrap;
	transform: translate(0, -50%);
	top: 35%;
	left: 40%;
}
.wrapper-top__price {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: #023E56;
	top: 53.758%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: clamp(1.4375rem, -0.0099rem + 7.2368vw, 4.875rem);
	font-weight: 600;
}
.wrapper-top__wagon {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 68.2222%;
	font-size: clamp(1rem, -0.0263rem + 5.1316vw, 3.4375rem);
	color: #222222;
}
.wrapper-top__body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	position: absolute;
	width: 100%;
	justify-items: center;
	top: 82.5111111%;
	transform: translate(0, -50%);
	font-family: 'Roboto', sans-serif;
	font-size: clamp(0.6875rem, -0.023rem + 3.5526vw, 2.375rem);
	color: #1B1B1B;
	padding: 0 9.11111%;
}
.wrapper-top__timer {
	position: absolute;
	top: 92%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, -0.0263rem + 5.1316vw, 3.4375rem);
	font-weight: 600;
	color: #4EA523;
}
.wrapper__bottom {
	width: 100%;
	height: 0;
	padding: 0 0 20.6597% 0;
	background: url('../img/02.png') center / cover no-repeat;
}
